.items-tabs {
  width: 100%;
  margin: 40px auto;
  display: flex;
  gap: 24px;
  border-bottom: 2px solid #5F5F5F;
  margin-bottom: 24px;
}

.items-tab {
  padding: 8px 0;
  font-size: 16px;
  font-weight: bold;
  color: #5F5F5F;
  text-decoration: none;
  position: relative;
}

.items-tab:first-child {
  margin-left: 150px;
  margin-right: 20px;
}

.items-tab.active {
  color: #FF5555;
}
